body {
    background-image: url('wp2210582.jpg'); /* Substitua pelo nome da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* ou a fonte que preferir */
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Ajuste a opacidade conforme necessário (0 é transparente, 1 é opaco) */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Adicione estilos adicionais conforme necessário */

@media (max-width: 767px) {
    body {
        background-image: url('c:\Users\Jared\Downloads\midias moveis.webp');
    }
}
